body{
    color:#ff5f59;
    font-family: 'VT323', monospace;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-color: black;
}
.form-control{
    background-color: #aeaeae63;
    border-color: #ff5f59;
    color: white;
    font-family: monospace;
}
form{
    font-size: 1.5em;
}
#formstart{
    padding-top: 15%;
}
#formstarts{
    padding-top: 5%;
}